@import "tailwindcss";

:root {
  --background: #1A1A1A;
  --foreground: #FFFFFF;
  --primary: #D4AF37;
  --secondary: #020202;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-heading: var(--font-playfair);
  --font-body: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}
